apiVersion: v1
kind: ServiceAccount
metadata:
  name: backend-sa
  namespace: college-event

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: backend-role
  namespace: college-event
rules:
- apiGroups: [""]
  resources: ["configmaps"]
  verbs: ["get", "list"]
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["get", "list"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: backend-role-binding
  namespace: college-event
subjects:
- kind: ServiceAccount
  name: backend-sa
  namespace: college-event
roleRef:
  kind: Role
  name: backend-role
  apiGroup: rbac.authorization.k8s.io
